{% extends 'base.html.twig' %}

{% block title %}Home !{% endblock %}

{% block body %}
    <h1 class="text-center">Please Choose a project </h1>
    <div class="example-wrapper container">
        <div class="row">
        {% for  rocket in rockets %}
            {% for user in rocket.users %}
                <div class="w-25 ">
                    <img src="{{ asset('build/' ~ user.photo )}}" class="img-fluid rounded-circle" id="test{{ random(2) }}" alt="">
                </div>
            {% endfor %}
            <div class="col col-3 m-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ rocket.title }}</h5>
                    <p class="card-text">{{ rocket.description }}</p>
                    <h6>Skills required</h6>
                    <ul>
                        {% for skill in rocket.skills %}
                            <li class="class-text">{{ skill.name }}</li>
                        {% endfor %}
                    </ul>
                    <p class="card-footer">Launch date {{ rocket.startedAt|date('d/m/y') }}</p>
                    <a href="{{ path('rocket_building',{ id:rocket.id }) }}" class="btn btn-primary">Let's Go!</a>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
