{% extends 'base.html.twig' %}

{% block title %}Machine !{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('magnet') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <button id='button-magnet' class="btn btn-dark button-magnet">Looking for a new Collaborator</button>
                <div class="container-1">
                    <div class="row d-flex justify-content-center">
                        <img  class="magnet" src="{{ asset('build/magnet.png') }}" alt="">
                    </div>
                    <br><br>

                    <img class='xavier shaky' id="xddl" src="{{ asset('build/Xavier.png') }}" alt="">

                    <br><br>
                    <div class="row d-flex justify-content-center">
                        <img class='basket' src="{{ asset('build/panier.png') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <button class="btn btn-dark button-magnet">Collaborator Found</button>

                <div class="container-2">
                    <button class="btn btn-dark result" type="button" id="loading" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Requeting on Fiverr DataBase
                    </button>
                    <div class="result" id="result">
                        <h1> Firstname : {{ xavier.firstname}} </h1>
                        <br><br>
                        <h1> Lastname : {{ xavier.lastname}}</h1>
                        <br><br>
                        <h1> Email : {{ xavier.email }} </h1>
                        <br><br>
                        <h1> Astrologic Sign : {{ xavier.astroSign}}</h1>
                        <br><br>
                        <h1>Skills : </h1>
                        <div class="row">
                            <div class="col-5">
                                <ul>
                                    {% for skill in xavier.skills %}
                                        <li class="btn btn-success">{{ skill.name }}</li>
                                        <br>
                                        <br>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-5 d-flex align-items-center">
                                <a class="btn btn-danger" href="{{ path('rocket_buildingv3', {id: rocket.id}) }}">Add this member to the Rocket ! </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
